.resizable-canvas {
  resize: both;
  text-align: center;
  margin-top: 2rem;
}

.canvas {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffff;
    width: 25rem;
    height: 20rem;
}