.palette {
    background-color: black;
    width: max-content;
    max-height: 78px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 4px;
    border-radius: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: auto;
    margin-right: auto;
}

.red {
    accent-color: red;
}

.green {
    accent-color: green;
}

.blue {
    accent-color: blue;
}

.yellow {
    accent-color: yellow;
}

.orange {
    accent-color: orange;
}

.purple {
    accent-color: purple;
}

.pink {
    accent-color: pink;
}

.brown {
    accent-color: brown;
}

.gray {
    accent-color: gray;
}

.black {
    accent-color: black;
}

.white {
    accent-color: white;
}

input[type='radio'] { 
    transform: scale(1.75); 
    margin: 1.5rem;
}

.line-width-range {
    -webkit-appearance: none;
    width: 50px;
    background: #d3d3d3;
    height: 2px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    vertical-align: middle;
  }
  
  .line-width-range:hover {
    opacity: 1;
  }
  
  .line-width-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: rgb(105, 105, 135);
    cursor: pointer;
  }
  
  .line-width-range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(105, 105, 135);
    cursor: pointer;
  }

  .addShape, .addText {
    background-color: black;
    color: white;
    border: none;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
  }

  .addText {
    font-family: serif;
  }