<div class="palette">
    <input type="radio" class="red" name="red" aria-label="red" value="red" (change)="setColor('red')">
    <input type="radio" class="green" name="green" aria-label="green" value="green"(change)="setColor('green')">
    <input type="radio" class="blue" name="blue" aria-label="blue" value="blue" (change)="setColor('blue')">
    <input type="radio" class="yellow" name="yellow" aria-label="yellow" value="yellow" (change)="setColor('yellow')">
    <input type="radio" class="orange" name="orange" aria-label="orange" value="orange" (change)="setColor('orange')">
    <input type="radio" class="purple" name="purple" aria-label="purple" value="purple" (change)="setColor('purple')">
    <input type="radio" class="pink" name="pink" aria-label="pink" value="pink" (change)="setColor('pink')">
    <input type="radio" class="brown" name="brown" aria-label="brown" value="brown" (change)="setColor('brown')">
    <input type="radio" class="gray" name="gray" aria-label="gray" value="gray" (change)="setColor('gray')">
    <input type="radio" class="black" name="black" aria-label="black" value="black" (change)="setColor('black')">
    <input type="radio" class="white" name="white" aria-label="white" value="white" (change)="setColor('white')">
</div>