.palette {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.color-button {
    width: 2rem;
    height: 2rem;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    flex-shrink: 0;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.brown {
    background-color: brown;
}

.gray {
    background-color: gray;
}

.black {
    background-color: black;
    border: 1px solid #d8d8d8;
}

.white {
    background-color: white;
}

.line-width-range {
    -webkit-appearance: none;
    width: 50px;
    background: #d3d3d3;
    height: 2px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    vertical-align: middle;
  }
  
  .line-width-range:hover {
    opacity: 1;
  }
  
  .line-width-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: rgb(105, 105, 135);
    cursor: pointer;
  }
  
  .line-width-range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(105, 105, 135);
    cursor: pointer;
  }

  .addShape, .addText, .brush, .erase {
    background-color: black;
    color: white;
    border: none;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: middle;
  }

  .addText {
    font-family: serif;
  }

  @media screen and (max-width: 1200px) {
    .palette {
        margin-left: 11rem;
    }
  }