<div class="palette">
    <button class="color-button red" aria-label="Red" (click)="setColor('red')"></button>
    <button class="color-button green" aria-label="Green" (click)="setColor('green')"></button>
    <button class="color-button blue" aria-label="Blue" (click)="setColor('blue')"></button>
    <button class="color-button yellow" aria-label="Yellow" (click)="setColor('yellow')"></button>
    <button class="color-button orange" aria-label="Orange" (click)="setColor('orange')"></button>
    <button class="color-button purple" aria-label="Purple" (click)="setColor('purple')"></button>
    <button class="color-button pink" aria-label="Pink" (click)="setColor('pink')"></button>
    <button class="color-button brown" aria-label="Brown" (click)="setColor('brown')"></button>
    <button class="color-button gray" aria-label="Gray" (click)="setColor('gray')"></button>
    <button class="color-button black" aria-label="Black" (click)="setColor('black')"></button>
    <button class="color-button white" aria-label="White" (click)="setColor('white')"></button>
    <input type="range" title="Adjust line width" class="line-width-range" [(ngModel)]="lineWidth" (input)="setLineWidth()" min="1" max="3"/>
    <button class="erase" (click)="this.modeService.setMode('erase')" title="Erase">⌫</button>
    <button class="addShape" (click)="this.modeService.setMode('triangle')">△</button>
    <button class="addShape" (click)="this.modeService.setMode('circle')">○</button>
    <button class="addShape" (click)="this.modeService.setMode('rectangle')">□</button>
    <button class="addText" (click)="this.modeService.setMode('text')">T</button>
</div>