<div class="palette">
    <input type="radio" class="red" name="color" value="red" (change)="setColor('red')">
    <input type="radio" class="green" name="color" value="green"(change)="setColor('green')">
    <input type="radio" class="blue" name="color" value="blue" (change)="setColor('blue')">
    <input type="radio" class="yellow" name="color" value="yellow" (change)="setColor('yellow')">
    <input type="radio" class="orange" name="color" value="orange" (change)="setColor('orange')">
    <input type="radio" class="purple" name="color" value="purple" (change)="setColor('purple')">
    <input type="radio" class="pink" name="color" value="pink" (change)="setColor('pink')">
    <input type="radio" class="brown" name="color" value="brown" (change)="setColor('brown')">
    <input type="radio" class="gray" name="color" value="gray" (change)="setColor('gray')">
    <input type="radio" class="black" name="color" value="black" (change)="setColor('black')">
    <input type="radio" class="white" name="color" value="white" (change)="setColor('white')">
</div>